<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Mr Su's Rules | 自说自话</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Mr Su's Rules{% endif %}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url" content="http://tracysu.me{{ page.url }}"/>
        <meta property="og:site_name" content="Mr Su's Rules"/>
        <meta property="fb:admins" content="1057560040"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Vollkorn"/>
        <link rel="stylesheet" href="/css/prettify.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="Mr Su's Rules"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span8 offset2">
                    <div class="row">
                        <div class="span4">
                            <h1 id="heading"><a href="/">Mr Su's Rules</a></h1>
                        </div>
                        <div class="span4">
                            <ul id="nav" class="inline pull-right">
                                <li id="nav-about" class="dropdown" data-page="about"><a href="javascript:void(0)">About</a></li>
                                <li id="nav-posts" data-page="posts"><a href="/posts">Posts</a></li>
                                <li id="nav-elsewhere" class="dropdown" data-page="elsewhere"><a href="javascript:void(0)">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="about" class="dropdown">
                        <div class="row spacer"></div>
                        <div class="row">
                            <div class="span8">
                                <p>I'm a final year student studying e-Finance at the<a href="http://www.csc.liv.ac.uk/" target="_blank"> Uni. of Liverpool</a>.</p>
                                <p>My philosophy is <i>Know something about everything, and everthing about something. </i> I'm glad this programme has been always spotting new ideas.</p>
                                <p>My intersts are<a href="http://www.csc.liv.ac.uk/teaching/modules/year3s2/full-comp396.html" target="_blank"> automated trading</a> , web technology and potentially big data.</p>
                                <hr width=80% size=1 color=#00ffff style="border:1 dashed #00ffff">
                                <p>c除此以外，我还<b><font color="#c82829">喜欢</font></b>：所有运动，优美的设计，牛逼的灵魂，简洁，高科技，无纸化学习，给别人起外号，炸酱面，虾，diet coke, 一个人泡图书馆和去gym的女孩儿，搭车，一个人旅行，开玩笑，喝大酒，kindle，纸书，terminal，douban，衬衣，冷笑话，UI，想事儿，创造，mac，ubuntu，毛笔字，瘦金体，打扫房子，R语言，节食主义，黑人文化，宗教，科学，有常识的人，精确复杂的东西。</p>
                            </div>
                        </div>
                    </div>
                    <div id="elsewhere" class="dropdown">
                        <div class="row spacer"></div>
                        <div class="row">
                            <div class="span1"><a href="http://weibo.com/1801491860/profile?topnav=1&wvr=5" target="_blank"><img src="/images/elsewhere/weibo.jpg"/></a></div>
                            <div class="span1"><a href="https://github.com/tracysu" target="_blank"><img src="/images/elsewhere/github.jpeg"/></a></div>
                            <div class="span1"><a href="http://www.facebook.com/tracy.y.s.3" target="_blank"><img src="/images/elsewhere/facebook.jpeg"/></a></div>
                            <div class="span1"><a href="mailto:tracysu1860@me.com" target="_blank"><img src="/images/elsewhere/email.jpeg"/></a></div>
                        </div>
                    </div>
                    <div class="row spacer"></div>
                    <div class="row">
                        <div class="span8">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <!--
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        -->
        <script src="/js/prettify.js"></script>
        <script>
            // Hacker News button
            // (function(d, t) {
            //     var g = d.createElement(t),
            //         s = d.getElementsByTagName(t)[0];
            //     g.src = '//hnbutton.appspot.com/static/hn.min.js';
            //     s.parentNode.insertBefore(g, s);
            // }(document, 'script'));


            // Google Analytics
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-10535194-5']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();


            $(function () {

                // Color the active navigation link
                var page = window.location.pathname.split("/")[1];
                $("#nav li[data-page='" + page + "']").addClass("nav-active");

                // Enable the dropdown behavior
                $("li.dropdown").click(function () {
                    var $thisLi = $(this);
                    var $thisDiv = $("#" + $thisLi.attr("data-page"));
                    if ($thisLi.hasClass("nav-active")) {
                        $thisLi.removeClass("nav-active");
                        $thisDiv.slideUp();
                    } else {
                        $("li.dropdown").not($thisLi).removeClass("nav-active");
                        $("div.dropdown").not($thisDiv).slideUp(function () {
                            $thisLi.addClass("nav-active");
                            $thisDiv.slideDown();
                            _gaq.push(["_trackPageview", "/" + $thisLi.attr("data-page")]);
                        });
                    }
                });

                // Syntax-highlight all <pre> blocks
                $("pre").addClass("prettyprint");
                prettyPrint();

            });
        </script>
    </body>
</html>
